@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

$transitionDuration: 0.5s;

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: transform $transitionDuration;

  &:hover::after {
    opacity: 1;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    box-shadow: 2px 20px 30px rgba(#6c48c2, 0.0875);
    transition: opacity $transitionDuration;
  }
}

.card.purple {
  background: #8066a9;
}

.card.purple .text {
  text-shadow: makelongshadow(darken(#8066a9, 7));
}

.card.pink {
  background: #e981b2;
}

.card.pink .text {
  text-shadow: makelongshadow(darken(#e981b2, 6));
}

.card.blue {
  background: #75c5e4;
}

.card.blue .text {
  text-shadow: makelongshadow(darken(#75c5e4, 6));
}

.card.red {
  background: #dc685f;
}

.card.red .text {
  text-shadow: makelongshadow(darken(#dc685f, 5));
}

.text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-right-radius: 0.5rem;
}

.text {
  font-size: 4.25rem;
  font-weight: 700;
  color: rgba(white, 0.85);
}
